@media (max-width: 790px) {
  .getdavesbe-sidebar {

	width: 100%;
  }
.interface-interface-skeleton__sidebar {
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.133);
    outline: 1px solid rgba(0, 0, 0, 0);
    width: 100% !important;
	max-width: 100% !important;
}
}

.getdavesbe-block-editor__block-list {
	//padding-bottom: $grid-unit-60;
	//padding-top: $grid-unit-60 + 5;
	margin-left: auto;
	margin-right: auto;
   
    line-height: 68px;
    .block-editor-block-list__block {
        margin-left: auto;
        margin-right: auto;
      
    }

    .wp-block {
        max-width: 1000px;
    }

    .rich-text  {
        outline: none;
        span[data-rich-text-placeholder]:empty::after {
            content: attr(data-rich-text-placeholder);
            color: grey;
            font-size: 1em;
        }
    }
}

    .interface-interface-skeleton__secondary-sidebar
 {
       
        width: 430px;
max-width: 430px;
    }
.interface-interface-skeleton__sidebar {
        box-shadow: -1px 0 0 0 rgba(0, 0, 0, .133);
        outline: 1px solid #0000;
width: 330px;
max-width: 330px;
    }

.interface-interface-skeleton__editor{
background-color: #fff;
}
.block-editor-block-breadcrumb {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 5px;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #dddddd;
}
.writing-flow {
  min-height: 800px;
}
.getdavesbe-block-editor__block-list {
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}
.block-editor-default-block-appender {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.block-editor-default-block-appender p {
            content: attr(data-rich-text-placeholder);
            color: grey;
            font-size: 1em;
            margin: 0;
        } 
.getdavesbe-block-editor__block-list .wp-block
 {
    max-width: 1000px;
    margin: auto;
}